<html>
    <head>
    </head>
    <body>
    <div id="restricted">
        <h1>Welcome to our CSRF Project</h1>
        <h3>Your secret message is : {{.SErectMessage}}</h3>
        <form name="logout"></form>
        <form name="deleteUser"></form>
    </div>
    </body>
</html